<form class="form-shot" action="/twit" method="POST">
  <h1 class="h3 mb-3 font-weight-normal">Embed Shot!</h1>
  <label for="inputURL" class="sr-only">URL</label>
  <input type="url" id="inputURL" name="url" class="form-control" placeholder="Embed URL" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">SHOT</button>
</form>